@model CourierManagementSystem.Models.Courier

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="text-end">
        <a asp-action="Index" style="width:150px;" class="btn btn-secondary">
            Back
        </a>
    </div>
</div>

<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <h2 class="text-primary">Courier Details</h2>
        <hr />
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Consignment No: </span>
            <span class="text-success" style="font-size:20px;"> @Model.ConsignmentNo </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Courier Status: </span>
            <span class="text-success" style="font-size:20px;"> @Model.Status?.Name </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Customer Name: </span>
            <span class="text-success" style="font-size:20px;"> @Model.CustomerName </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Customer Mobile: </span>
            <span class="text-success" style="font-size:20px;"> @Model.CustomerMobile </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Customer Email: </span>
            <span class="text-success" style="font-size:20px;"> @Model.CustomerEmail </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Customer Address: </span>
            <span class="text-success" style="font-size:20px;"> @Model.CustomerAddress </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Recipient Name: </span>
            <span class="text-success" style="font-size:20px;"> @Model.RecipientName </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Recipient Mobile: </span>
            <span class="text-success" style="font-size:20px;"> @Model.RecipientMobile </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Recipient Address: </span>
            <span class="text-success" style="font-size:20px;"> @Model.RecipientAddress </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Courier Charge: </span>
            <span class="text-success" style="font-size:20px;"> @Model.CourierCharge </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Date Of Place: </span>
            <span class="text-success" style="font-size:20px;"> @Model.DateOfPlace </span>
        </div>
        <div class="form-group mb-3">
            <span style="font-size:25px;"> Date Of Delivered: </span>
            @{
                var deliveryDate = Model.DateOfDelivered != null ? Model.DateOfDelivered.ToString() : "N/A";
            }
            <span class="text-success" style="font-size:20px;">
                @deliveryDate
            </span>

        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary" style="width:125px">Back</a>
        </div>
    </div>
</div>
